/* Topic Author */
.topic-author-my {
  background-color: #ed1c24;
  border-radius: 0px;
  color: #ffffff;
  font-weight: bold;
  margin: -15px 0 0 0px;
  padding: 1px 1px 2px 1px;
  position: absolute;
  text-align: center;
  width: 100px;
}