.topic-author {
    display: inline-block;
    margin: 10px 4px 10px 0;
    padding: 2px 5px;
	background-image: url("./images/highlight.png")!important;
    border: 1px solid rgba(0, 0, 0, 0.27)!important;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
	-webkit-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
	-moz-box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
	box-shadow: 0px 1px 4px rgba(0,0,0,0.3), inset 0px 1px 0px rgba(255,255,255,0.13);
	-moz-background-clip: padding;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2)!important;
    font-size: 9px;
    font-weight: bold;
    background-repeat: repeat-x;
	text-transform: capitalize;
}
    
@media (max-width: 700px) {
	.topic-author {
		margin: 1px 4px 1px 40px;
	}
}