/* Topic Author */
.topic-author-my {
  background-color: #ed1c24;
  border-bottom: 3px solid #ed1c24;
  border-radius: 5px;
  color: #ffffff;
  font-weight: bold;
  margin: -29px 0 0 -57px; 
  padding: 1px 3px 0px;
  position: absolute;
  text-align: center;
  width: 100px;
}